body{
    #surround{
        #header{
            display: inline;
            #pokId{
                text-align: right;
            }
            #pokiName{
                align-items: left;
            }
        }
    }
}