body{
    #header{
        display: inline-flex;
        width: 100%;
        #pokiName{
            margin-left: 34%;
            font-size: 50px;
            margin-top: -10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #health{
            margin-left: 48%;
        }
    }
    #stats{
        #statSec3{
            p{
                display: inline;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        #statSec2{
            display: inline;
            p{
                display: inline;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        #statSec{
            display: inline;
            p{
                display: inline;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}